App.css {
  text-align: center;

}

h1 {
  margin-left: 500px;
}

input {
  padding: 4px;
  margin-right: 8px;
  margin-left: 500px;
  margin-top: 25px;
}

ul {
  list-style: none;
  margin-left: 500px;
}

li {
  margin: 12px 0;
}

.delete-button {
  font-size: 10px;
  margin-left: 8px;

  border: none;
  color: red;
  background-color: white;
  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
}

.delete-button:hover {
  cursor: pointer;
}

#addButton:hover {
  cursor: pointer;
}
